<div class = "posts">
	<div class ="posts-div">
		<p>Create a post</p>
			<%= form_with(model: @post, local: true) do |form| %>
			<p><%= form.text_field :title, placeholder: 'title here', :class => 'title' %></p> 

		<p> <%= form.text_area :body, placeholder: 'Write your post here', cols: "50", rows: "5", :class => 'post' %></p>         
			
			<%= form.submit "Submit", :class => 'sub' %>

			<% end %>
	</div>
</div>